@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');

#navbar{
	top: 0px;
	left:0px;
	width: 100%;
	height: 80px;
	background-color: #AAD6E9;
	position: fixed;
	display: flex;
	justify-content: flex-end;
}

a{
	text-decoration: none;
}

.nav-link{
	color: white;
	padding: 30px;
	font-size: 20px;
	font-family: 'Lato', sans-serif;

}

.nav-link:hover{
	color: #864aff;
}

#welcome-section{
	height: 100vh;
	width: 100vw;
	background: linear-gradient(180deg, #864aff, #864aff, #AAD6E9);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align:center;	
}

.my-name{
	color:#66FFE0;
	font-size: 64px;
	font-family: 'Prata', serif;
	letter-spacing: 3px;
}

.degree{
	margin-top: -50px;
	color: #fff;
	font-size: 22px;
	font-family: 'Lato', sans-serif;
	font-weight: normal;
}


#projects{
	height: auto;
	width: 100vw;
	background-color: #AAD6E9;

}

.projects-heading{
	margin-bottom: 50px;
	padding-top: 50px;
	font-size: 30px;
	text-align: center;
	font-family: 'Prata', serif;
	font-weight: bold;
	color: #864aff;
}

.projects-display{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(320px, max-content));
	justify-content: center;
  	grid-gap: 20px;
  	max-width: 1000px;
  	margin-left:auto;
  	margin-right: auto;
 	margin-bottom: 60px;
 	
}

.project-tile{
	width: 320px;
	height: 220px;
}

.project-title{
	background-color: #864aff;
	width: 300px;
	height: 25px;
	padding: 10px;
	top:0px;
	font-family: 'Lato', sans-serif;
	color: white;
	font-size: 18px;
	text-align: center;
}

.project-title:hover{
	background-color: white;
	color: #864aff;
}

.show-all{
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	font-size: 22px;
	color: #864aff;
	background-color: #66FFE0;
	height: 30px;
	width: 100px; 
	padding: 10px;
	display:block;
	text-align: center;
	margin: auto;

}

.show-all:hover{
	background-color: white;
	color: #864aff;
}

#contact{
	height: 100vh;
	width: 100vw;
	background: linear-gradient(180deg, #AAD6E9, #864aff, #864aff);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align:center;

}

.contact-title{
	font-size: 60px;
	font-weight: bold;
	font-family: 'Prata', serif;
	letter-spacing: 3px;
	color: #66FFE0;
}

.contact-subtitle{
	margin-bottom: 60px;
	font-size: 24px;
	color: #fff;
	font-family: 'Lato', sans-serif;
}

.contact-link{
	margin-right: 30px;
	font-size: 28px;
	font-family: 'Ubuntu Condensed', sans-serif;
	color: white;
}

.contact-link:hover{
	color: #66FFE0;
}

@media (max-width:800px){

	.links{
		display: grid;
		grid-template-columns: 300px;
		grid-row-gap: 10px;


	}
}


